# art n' stuff
assets/

# jebrains
.idea

# nano
*.swp
*.save

# misc
*.unused
*.test

# config
*.toml

# dumped configs
*.json

# vendor stuff
vendor/**/*_test.go
vendor/**/*.mod
vendor/**/*.sum
vendor/**/*.png
vendor/**/*.svg

# build
ziggs
